# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python specific
*.pyc

# Other
build/
obfuscator.egg-info/
*circ.obf*
*json.obf*
evaluate
tags
test_mlm

Makefile
Makefile.in
*.m4
autom4te.cache
*.log
*.status
configure
libtool
.deps
.libs
*.la
*.lo
src/config.h
src/config.h.in
src/stamp-h1
