# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python specific
*.pyc

# Other
build/
obfuscation.egg-info/
*circ.obf*
evaluate
